---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Header from '~/components/widgets/Header.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

const email = import.meta.env.PUBLIC_EMAIL; // Add this line to import the email from the .env.local file

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` - Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <!-- Header Widget ***************** -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'Porfolio'},
        { text: 'About', href: '/about' },
        { text: 'Resume', href: '/resume' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: `mailto:${email}`,
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Blog List ***************** -->
  <section class="relative max-w-4xl px-6 py-12 mx-auto sm:px-6 sm:py-16 lg:py-20">
    <Headline subtitle="Dive into my journey of designing user-centered solutions that combine accessibility, creativity, and technology."> Case Studies <br> <span class="text-4xl font-semibold text-blue-600 dark:text-blue-300">Inclusive UX Design and Digital Innovation</span> </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
