---
import Footer from "../components/widgets/Footer.astro";
import Header from "../components/widgets/Header.astro";
import Layout from "../layouts/Layout.astro";

import type { MetaData } from "../types";

export interface Props {
  metadata?: MetaData;
  links?: Array<{ text: string; href: string }>;
  actions?: Array<{ text: string; href: string; target?: string }>;
}

const {
  metadata,
  links = [
    { text: "Home", href: "/" },
    { text: "Portfolio", href: "/portfolio" },
    { text: "About", href: "/about" },
  ],
  actions = [],
} = Astro.props;

const footerLinks = [
  {
    title: "Navigation",
    links: [
      { text: "Home", href: "/" },
      { text: "Portfolio", href: "/portfolio" },
    ],
  },
];
const footerSecondaryLinks = [{ text: "Privacy", href: "/privacy" }];
const footerSocialLinks = [
  {
    icon: "tabler:brand-linkedin",
    href: "https://www.linkedin.com/in/lylehmann/",
    ariaLabel: "LinkedIn",
  },
  {
    icon: "tabler:mail",
    href: "mailto:lylehmann@gmail.com",
    ariaLabel: "Email",
  },
];
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header links={links} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer links={footerLinks} secondaryLinks={footerSecondaryLinks} socialLinks={footerSocialLinks} theme="dark" />
  </slot>
</Layout>
