---
import { Button as RadixButton } from '@radix-ui/themes';
import type { ReactNode } from 'react';
import { renderToString } from 'react-dom/server';

const {
  variant = 'solid',
  color = 'indigo',
  size = '2',
  radius = 'full',
  highContrast = false,
  icon = '',
  text = Astro.slots.render('default'),
  class: className = '',
  href = undefined,
  target = undefined,
  rel = undefined,
  ...rest
} = Astro.props;
---

{href ? (
  <RadixButton
    asChild
    variant={variant}
    color={color}
    size={size}
    radius={radius}
    highContrast={highContrast}
    className={className}
    {...rest}
  >
    <a href={href} target={target} rel={rel}>
      <Fragment set:html={text} />
    </a>
  </RadixButton>
) : (
  <RadixButton
    variant={variant}
    color={color}
    size={size}
    radius={radius}
    highContrast={highContrast}
    className={className}
    {...rest}
  >
    <Fragment set:html={text} />
  </RadixButton>
)}
